
JavaPropertiesUtils.Tests/obj/

JavaPropertiesUtils.Tests/bin/

.idea/

JavaPropertiesUtils.sln.DotSettings.user

JavaPropertiesUtils/bin/

JavaPropertiesUtils/obj/Debug/netstandard1.0/

JavaPropertiesUtils/obj/
